#footer{
	background-color:#151515;
	color: #151515;
    width: 100%;
	clear:both;
    float:left;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
    padding: 20px;
}

.footer-container {
	background-color:#151515;
	color: #ffffff;
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
  }

.footer-container img {
   width: auto !important;
   height: auto !important;
   border: none !important;
   width: auto !important;
   max-height: 40px !important;
   display: inline-block;
 }

.footer-left{
    text-align:left;
    float:left;
    padding: 1rem;
    }

.footer-left img{
    float:left;
    padding: 1rem;
    width: auto !important;
    height: auto !important;
    border: none !important;
    width: auto !important;
    max-height: 120px !important;
    display: inline-block;

}

.footer-centered{
    text-align:center;
    padding: 1rem;
    }

.footer-right{
    float:center;
    text-align:right;
    padding: 2rem;
    }

.footer-logo{
    display: inline-block;
    vertical-align: middle;
    height:110px;
    width: 110px;
    padding: 1rem;
    }
